<html lang="en" ng-app="eth">
<head>
<meta charset="utf-8">
<title>Ethereum Raw Transaction Broadcaster</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>

<script>

var app = angular.module('eth', []);

app.controller("PageCtrl", function($scope, $http, $log) {
    $scope.broadcast = function() {
        var apiUrl = 'https://api.etherscan.io/api';
        if ( !$scope.txhex ) {
            $scope.response = {'data': {'error': {'message': 'Please provide a transaction.'}}};
            return;
        }
        var params = {
            'module': 'proxy',
            'action': 'eth_sendRawTransaction',
            'hex': ($scope.txhex || '').trim()
        };
        $scope.response = undefined;
        $http({
            method: 'GET',
            url: apiUrl,
            params: params
        }).then(function successCallback(response) {
            $log.log(response);
            $scope.response = response;
        }, function errorCallback(response) {
            $log.log(response);
            $scope.response = {'data': {'error': {'message': 'API server unavailable.'}}};
        });
    }
});

</script>

<body ng-controller="PageCtrl">
    <a href="https://github.com/badmofo/ethsend/tree/gh-pages"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    
    <div class="container">
        <h2>Ethereum Raw Transaction Broadcaster</h2>
        
        <p class="text-muted">This will attempt to broadcast a raw (hex-encoded) Ethereum transaction by using the API provided by <a href="https://etherscan.io/">Etherscan.io</a>.</p>
        
        <div class="form-group">
            <textarea class="form-control" rows="5" ng-model="txhex" placeholder="Enter raw transaction here."></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="broadcast()">Broadcast Transaction</button>
        
        <br/>
        <br/>
        <div class="alert alert-danger" ng-show="response.data.error">
            <strong>Error:</strong> {{ response.data.error.message }}
        </div>
        <div class="alert alert-success" ng-show="response.data.result">
            <strong>Success:</strong> Transaction Id: {{ response.data.result }}  
            <p>Expect confirmation shortly.</p>
        </div>
    </div>
</html>
